

.main {
  flex: 1;
  padding: 20px;
}

/* .footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
} */


.textBox {
  margin-top: auto; /* Change to auto */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 33, 36);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

input {
  width: 1350px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  margin-top: 10px;
}
